#a1{width: 100%; height: 80px; }
#u1 li {font-size: 15px;}
#u1 {margin-top: 25px; float: left;}
#u2 {float: right;margin-top: 25px; }
#a2 { width: 100%; height: 500px; ;}
#a3 {width: 50%; height: 500px; margin: 0px 25%}

