/* 通配符  清除默认的外边边距*/
*{
  margin: 0;
  padding: 0;
}

.box{
    width: 1226px;
    margin: 0 auto;
    border: 1px solid #000;
    background-color: #f5f5f5;
}

.clearfix::after,clearfix::before{
        display: block;
        content: "";
        clear: both;
}
.left{
    float: left;
}
.top span{
    float: left;
}
.top a{
    float: right;
    text-decoration: none;
    color: gray;
}
i{
    width: 20px;
    height: 20px;
    /* 切角 */
    border-radius: 50% ;
    display: inline-block;
    background-color:#b0b0b0 ;
    text-align: center;
    font-weight: bold;
    color: white;
}
/* 以下是主体部分 */

.main-left img{
     width: 234px;
}
/* 清除ul默认样式 */
ul{
    list-style: none;
}

li h3{
    font-size: 14px;
    /* 行高 */
    line-height: 21px;
    font-weight: lighter;
}
li p{
    font-size: 12px;
    color: #cdb7c1;

}
li{
    text-align: center;
    background-color: white;
    /* 上右下左 */
    margin: 0px 0px 14px 14px;
    padding: 20px 0;
    width: 234px;
    height: 260px;
    transition: all 0.3s;
  
}
li span{
    color: #ff6700;
}
li img{
    width: 160px;
}

li:hover{
    box-shadow: 0px 0px 10px rgb(161, 156, 156);
    /* 鼠标变成小手形状 */
    cursor: pointer;
    position: relative;
    top:-5px;

}